body{
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    line-height: 1.5;
    color: #333;
}

.hero{
    display: block;
    width: 100%;
    height: auto;
    margin: 0pt;
    padding: 0pt;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.hero-text {
    margin: calc(12vw - 150pt) 0 0;
    width: 100%;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(180deg, goldenrod -20%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8vw;
    text-align: center;
    z-index: 2;
}

.page-header {
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(180deg, goldenrod -20%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 20px 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    line-height: 1.5;
}
/* Button style for the "Click here to apply" link */
.col a {
    display: block;
    padding: 10px 20px;
    background-color: goldenrod;
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.col a:hover {
    background-color: darkgoldenrod;
    transform: scale(1.05);
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50pt;
}

.col p{
    margin: 0;
}

.w-100{
    width: 100%;
}

.serif-text{
    font-family: 'Playfair Display', serif;
}

.sans-serif-text{
    font-family: 'Roboto', sans-serif;
}

#main-footer {
    background-color: snow;
    border-top: 1pt solid goldenrod;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    padding: 10pt;
    font-family: 'Roboto', sans-serif;
}

#main-footer p {
    margin: 0;
    font-size: 0.8rem;
    color: #333;
    font-weight: bold;
}