html{
    font-size: 14pt;
}

body{
    margin: 0pt;
    background-color: snow;
}

#main-header{
    background-color: snow;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0pt;
    border-bottom: 1pt solid goldenrod;
    box-shadow: 0 0 10pt rgb(0, 0, 0.2);
}

#main-header .left-container {
    display: flex;
    align-items: flex-end;
}

.nav-buttons{
    margin-left: calc(2vw - 18px);
}

.left-container ul a{
    margin-left: calc(5vw - 20pt);
}

#main-header {
    background: snow;
}

#main-header #mainheaderlogo{
    width: 80pt;
    transition: all ease 0.3s;
    padding: 5pt 15pt 0pt;
    margin: 0;
}

#main-header #mainheaderlogo:hover{
    opacity: 50%;
    width: 84pt;
    padding: 3pt 13pt 0;
}

#main-header #socials {
    display: flex;
    justify-content: right;
    gap: 1vw;
    margin-right: 2vw;
}

#main-header #socials img{
    max-width: 20pt;
    transition: all ease 0.3s;
}

#main-header #socials a{
    text-decoration: none;
}

#main-header #socials a:hover{
    opacity: 50%;
}

#main-header ul{
    margin: 0pt;
    padding: 0pt;
    list-style-type: none;
    display: flex;
    gap: 0pt;
    transition: all ease .4s
}

#main-header ul a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #444;
    font-weight: bold;
    font-size: 0.8rem;
    display: block;
    transition: all ease .4s;
    padding: 0pt 10pt;
    border-radius: 8pt 8pt 0pt 0pt;
}

#main-header ul a.active{
    /* background: linear-gradient(0deg, goldenrod -20%, white 100%); */
    border-top: 1px solid goldenrod;
    border-left: 1px solid goldenrod;
    border-right: 1px solid goldenrod;
}

#main-header ul a:hover{
    color: goldenrod;
}

#dropdown-menu {
    border: 1px solid goldenrod;
    display: none;

}

/* Media Query for hamburger on small screens */
@media (max-width: 670pt) {
    .hero-text{
        font-size: 1.5rem;
    }
    #main-header ul {
        display: none; 
    }
    #dropdown-menu {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        background-color: snow;
        position: absolute;
        top: 44pt; 
        left: 10pt;
        /* transform: translateX(-40%); */
        box-shadow: 0 2pt 10pt rgba(0, 0, 0, 0.1);
        padding: 10pt;
        border-radius: 5px;
    }
    #dropdown-menu.show {
        visibility: visible;
        height: auto;
        opacity: 1;
    }
    #dropdown-menu a {
        padding: 10pt;
        color: #444;
        text-decoration: none;
        border-radius: 5px;
    }
    #dropdown-menu a:hover {
        color: goldenrod;
    }
    #hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;
        padding: 5pt;
    }
    #hamburger div {
        width: 25px;
        height: 3px;
        background-color: #444;
        margin: 2.5pt 0;
        transition: all 0.3s ease;
    }
    #hamburger:hover + #dropdown-menu, 
    #dropdown-menu:hover {
        visibility: visible;
        height: auto;
        opacity: 1;
        z-index: 3;
    }
}